body {
	font-size: 14px;
}

.container-rounded {
	width: 300px;
	height: 300px;
	padding: 50px;
	background-color: red;
	text-align: center;
	/* CSS3 border-radius explained: */
	/* http://css-tricks.com/almanac/properties/b/border-radius/ */
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
	border-radius: 20px;
}